.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
}

.keyword {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0.5rem;
}

.keyword h1 {
  width: 100%;
  text-align: center;
}

.keyword button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 15px;
  margin-bottom: 0.5rem;
}

.valid {
  background: rgba(0, 148, 22, 0.6);
}

.invalid {
  background: rgba(148, 0, 0, 0.6);
}
