.table {
    display: grid;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid white;
    width: 40vw;
}

.cell {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    aspect-ratio: 1;
    border: 1px solid white;
    cursor: pointer;
}

.cell:hover {
    background: rgba(255, 0, 0, 0.2);
}

.active {
    background: rgba(255, 0, 0, 0.307);
}

.cell span {
    width: 90%;
    text-align: center;
}