.table {
    display: grid;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid white;
    width: 40vw;
}

.cell {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    min-height: 8vw;
    border: 1px solid white;
    cursor: pointer;
    font-size: calc(7px + 0.5vw);
}

.cell:hover {
    background: rgba(255, 255, 0, 0.3);
}

.active {
    background: rgba(0, 255, 0, 0.4);
}

.selected {
    background: rgba(255, 255, 0, 0.4);
}

.cell span {
    width: 90%;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (max-width: 1000px) {
    .table {
        width: 90vw;
    }

    .cell {
        width: 18vw;
        min-height: 10vw;
    }

    .cell span {
        width: 95%;
    }
}